# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
scipion-portal-py3/

# Django stuff:
*.log
webservices/local_settings.py
staticfiles/

# IDE project settings
.idea/
.gitignore

# postgres dumps
*.dump

# uploads
uploads


