dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9
django-extensions==1.7.9
Pillow==3.2.0
psycopg2==2.6.1
static3==0.7.0
gunicorn==19.6.0
django-tastypie==0.13.3
python-dateutil==2.6.0
python-mimeparse==1.6.0
defusedxml==0.5.0
lxml==4.0.0
