[EMAIL]
EMAIL_USE_TLS = true
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_HOST_USER = USER@gmail.com
EMAIL_HOST_PASSWORD = PASSWORD
EMAIL_FOR_SUBSCRIPTION = scipion-users-join@lists.sourceforge.net