{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Add an Acquisition{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="project" %}
{% endblock %}

<!-- Benefits of the Django application -->



{% block container %}
<div id="sec2" class="text-page">
  <div class="container">
      <div class="col-md-12">
        <h2>Create Project</h2>
        <p class="lead">To create a new project fill the form and press create project.
            If you want to continue a failed project creation select the project
            name and click skip project creation.
      </div>
        <form id="acquisition_form" method="post"
              action="{% url 'create_proj:add_acquisition' %}">

            {% csrf_token %}

             <table cellpadding="10">{{ form.as_table }}</table>

            <input type="submit" name="submit_add_acquisition" value="Create Project" />
        </form>
<hr>
        <form id="skip_acquisition_form" method="post"
              action="{% url 'create_proj:add_acquisition' %}">

            {% csrf_token %}

             <table cellpadding="10">{{ form2.as_table }}</table>

            <input type="submit" name="skip_submit_add_acquisition" value="Skip Project Creation" />
        </form>
 </div>
</div>
{% endblock container %}
