{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Add an Acquisition{% endblock %}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "/";
        }, 60000);
    </script>
{% endblock %}
{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}
<div id="sec1" class="text-page">
  <div class="container">
  <div>
    <p style='color:#092E20;font-size:25px;font-weight:bold;padding-top:20px;padding-left:15px;'>
         Scipion has been successfully launched...<br>
         You may see a report summary at <a href="{{ URL }}">{{ URL }}</a>
    </p>
    <p>Redirecting to home page in 60 seconds</p>

  </div>

 </div>
</div>
{% endblock container %}
