{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p >We are a research facility dedicated to ultrastructure analysis of biological sample</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Create New Project</h2>
      <p>This option will create a directory tree to store microscope movies plus a
        Scipion workflow.</p>
      <p><a class="btn btn-primary" href="{% url 'create_proj:add_acquisition' %}"
            role="button">Do it &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Create Report</h2>
      <p>
        Get here (1) a link to your summary result page at scipion.cnb.csic.es
        plus a pdf summary with your microscope session.
      </p>
      <p><a class="btn btn-primary" href="{% url 'create_report:create_report' %}"
            role="button">Do it &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>See Use Statistics</h2>
      <p>See plot on how average resolution and astigmatismg change with time
      <p><a class="btn btn-primary" href="#" role="button">Do it &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

