{% extends "layouts/contained.html" %}
{% load static %}
{% block title %}Scipion acknowledgements{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="https://wordcloud2-js.timdream.org/src/wordcloud2.js"></script>
{% endblock %}
{% block content %}
<style>

#wordcloud {
  width:100%;
  height:200px;
}
</style>
<script>

    var words = [];

    {% for ack in acknowledgements %}
        words.push(['{{ack.title}}', '14']);
    {% endfor %}

    $(document).ready(function() {
        WordCloud(document.getElementById('wordcloud'),
            { list: words,
              color: 'random-dark',
              gridSize: 16 } );
    } );

</script>
<div>
    <h2 class="mt-4">Acknowledgements</h2>
    <p>Scipion was initially produced in Madrid, but currently it's final result will not be
    possible without the contribution of many people, institutions, and funders.
    We really wish to thank all of them and include everyone, but very likely the list bellow will get outdated.
    Please contact us to update it.</p>

    <div class="row">
        <div class="col-md-12" id="wordcloud"></div>
    </div>
    <br/><br/>
    <div class="row">
    {% for ack in acknowledgements %}

        <div class="col-md-3">
            <img class="img-responsive center-block collaborator-img"
                 src="{{ ack.image | default:"https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/201705_Scientist_bench_F.svg/200px-201705_Scientist_bench_F.svg.png"}}">
            {% if ack.url %}
            <h3><a href="{{ack.url}}">{{ack.title}}</a></h3>
            {% else %}
            <h3>{{ack.title}}</h3>
            {% endif %}
            <p>{{ ack.description }}</p>
        </div>

    {% endfor %}
    </div>
</div>
{% endblock %}
