{% extends "layouts/contained.html" %}

{% block title %}Scipion download form{% endblock %}
{% load static %}

{% block content %}
<h2 class="mt-4">Scipion downloads</h2>
    <div class="row">
      <div class="col-lg-4 col-md-12 order-lg-2">
        <i class="fas fa-download"></i>
        <p class="lead text-justify">Have a look at our documentation about
          <a href="https://scipion-em.github.io/docs/docs/scipion-modes/install-from-sources.html">how to install Scipion</a>.
        </p>
      </div>
      <div class="col-lg-8 col-md-12 order-lg-1">
        <!-- Load non deprecated bundles -->
        {% for bundle in downloadables %}
            {% if not bundle.deprecated %}
            <div class="mt-4">
                <span class="btn btn-outline-primary" nobothref="{% url 'download' %}?bundleId={{bundle.id}}">
                    {{bundle.version}} - {{bundle.platform}}
                </span> <span class="text-muted">({{bundle.size}} - {{ bundle.date }})</span><br/>
            </div>
            {% endif %}
        {% endfor %}
        <br/>
        <!-- Load deprecated bundles -->
        <h4 class="text-muted mt-4">Unsupported versions</h4>
        {% for bundle in downloadables %}
            {% if bundle.deprecated %}
            <span class="btn btn-outline-dark" nobothref="{{abs_url}}startdownload/?bundleId={{bundle.id}}">
                {{bundle.version}} - {{bundle.platform}}
            </span> <span class="text-muted">({{bundle.size}} - {{ bundle.date }})</span><br/>
            {% endif %}
        {% endfor %}

      </div>
    </div>
<script>
    $("[nobothref]").click(function(eventData, handler){
        let downloadUrl = $(this).attr('nobothref');
        window.location.href = downloadUrl;
        return false;
    });
</script>

{% endblock %}