{% extends "layouts/100.html" %}
{% load static %}

{% block title %}Scipion downloads statistics{% endblock %}


{% block js %}
    {{ block.super }}

	<script type="text/javascript" src="{% static "js/download/utils.js" %}"></script>
	<script type="text/javascript" src="{% static "js/download/config.js" %}"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src='{% static "js/highcharts.theme.blindcolor.js" %}'></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src='{% static "js/highcharts.utils.js" %}'></script>
{% endblock %}

{% block main_col %}
<div id="downloadStats">
	<h1 class="primary">Scipion download statistics</h1>
	<div id="piebyversion"></div><br/>
	<div id="piebyplatform"></div><br/>
	<div id="piebycountry"></div><br/>
	<div id="downloadsovertime"></div><br/>
	<div id="accumulatedDownloads"></div><br/>
	<div id="piebysubscription"></div><br/>


	<script>
	var downloadData = {{downloadsJSON|safe}};
	var downloadsAggregation = {};
	var downloadsTimeSeries;

	$(function () {

		$(document).ready(function () {
			loadCharts();
		});
	});

	function loadCharts() {

		prepareData();

		loadVersionChart()
		loadPlatformChart();
		loadCountryChart();
		loadDownloadsTimeSeries();
		loadDownloadsAccumulated();
		loadSubscriptionChart();
	}

	function loadVersionChart(){
		var data = propertyAggregationToPieChartData(
		    downloadsAggregation['version'],
			'downloads');

		loadPieChart('#piebyversion', 'Download by version', data);

	};

	function loadPlatformChart(){
		var data = propertyAggregationToPieChartData(downloadsAggregation['platform'], 'downloads');

		loadPieChart('#piebyplatform', 'Download by platform', data);
	};

	function loadCountryChart(){
		var data = propertyAggregationToPieChartData(downloadsAggregation['country'], 'downloads', 2);
		loadPieChart('#piebycountry', 'Downloads by country', data);
	};

	function loadDownloadsTimeSeries(){
		downloadsTimeSeries = propertyAggregationToTimeSeries(downloadsAggregation['timeStamp'], 'Downloads');
		loadZoomableTimeSeries('#downloadsovertime', 'Downloads per day', downloadsTimeSeries)
	};

	function loadDownloadsAccumulated(){

		accumulateData(downloadsTimeSeries[0].data);

		downloadsTimeSeries[0].type='area'

		loadAreaChart('#accumulatedDownloads', 'Accumulated downloads', downloadsTimeSeries)
	};

	function loadSubscriptionChart(){
		var data = propertyAggregationToPieChartData(downloadsAggregation['subscription'], 'users');
		loadPieChart('#piebysubscription', 'Subscription', data);
	};

	function prepareData(){

		// Aggregate data
		aggregateAll(downloadData, downloadsAggregation);

	}


	</script>
</div>
{% endblock %}
