{% extends "layouts/contained.html" %}

{% block title %}Scipion download form{% endblock %}
{% load static %}

{% block css %}
    {{ block.super }}
	<!--link href="{% static "css/messi.css" %}" rel="stylesheet" type="text/css" /-->
{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{% static "js/download/utils.js" %}"></script>
	<script type="text/javascript" src="{% static "js/download/config.js" %}"></script>
{% endblock %}

{% block content %}
    <h2 class="mt-4">Scipion downloads</h2>
    <!-- Load non deprecated bundles -->
    {% for bundle in downloadables %}
        {% if not bundle.deprecated %}
        <div class="mt-4">
            <a class="btn bg-primary" role="button" href="{{abs_url}}startdownload/?bundleId={{bundle.id}}">
                {{bundle.version}} - {{bundle.platform}}
            </a> <span class="text-muted">({{bundle.size}} - {{ bundle.date }})<br/>
        </div>
        {% endif %}
    {% endfor %}
    <br/>

    <!-- Load deprecated bundles -->
    <h4 class="mt-4">Deprecated versions</h4>
    {% for bundle in downloadables %}
        {% if bundle.deprecated %}
        <a href="{{abs_url}}startdownload/?bundleId={{bundle.id}}">
            {{bundle.version}} - {{bundle.platform}}
        </a> ({{bundle.size}} - {{ bundle.date }})<br/>
        {% endif %}
    {% endfor %}
    </br>
    </br>
    <p>Have a look to the <a href="downloadstats">download statistics page!</a></p>
</div>
{% endblock %}