{% extends "layouts/contained.html" %}
{% load static %}

{% block title %}Scipion downloads statistics{% endblock %}


{% block js %}
    {{ block.super }}
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src='{% static "js/highcharts.theme.colorblind.js" %}'></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src='{% static "js/highcharts.utils.js" %}'></script>
{% endblock %}

{% block content %}
<div>
	<h2 class="mt-4">Scipion downloads statistics (Legacy)</h2>
    <p> With Scipion 3, installation does not require a download from this site, therefore this statistics page is a legacy from previous versions.
    To get an idea of Scipion3 stats go to <a href="{% url 'projectStats' %}">usage</a> page</p>
	<div id="byversionBars"></div><br/>
	<div id="piebyplatform"></div><br/>
	<div id="piebycountry"></div><br/>
	<div id="downloadsovertime"></div><br/>
	<div id="accumulatedDownloads"></div><br/>
    <div id="downloadsByVersion"></div><br/>

	<script>
	let downloadData = {{downloadsJSON|safe}};
	let downloadsAggregation = {};
	let downloadsTimeSeries;

    $(function () {

		$(document).ready(function () {
			loadCharts();
		});
	});

	function loadCharts() {

		prepareData();

		loadVersionChart()
		loadPlatformChart();
		loadCountryChart();
		loadDownloadsTimeSeries();
		//loadDownloadsAccumulated();
		loadDownloadsByVersion()
	}

	function loadVersionChart(){
        const data = propertyAggregationToPieChartData(
            downloadsAggregation['version'],
            'downloads');

        loadBarChart('byversionBars', 'Downloads by version', data);

}
    function loadPlatformChart(){
        const data = propertyAggregationToPieChartData(downloadsAggregation['platform'], 'downloads');

        loadPieChart('#piebyplatform', 'Downloads by platform', data);
    }
    function loadCountryChart(){
        const data = propertyAggregationToPieChartData(downloadsAggregation['country'], 'downloads', 2);
        loadPieChart('#piebycountry', 'Downloads by country', data);
    }
    function loadDownloadsTimeSeries(){
		downloadsTimeSeries = propertyAggregationToTimeSeries(downloadsAggregation['timeStamp'], 'Downloads', "column");
		loadZoomableTimeSeries('#downloadsovertime', 'Downloads per day', downloadsTimeSeries)
    }
    function loadDownloadsAccumulated(){

		accumulateData(downloadsTimeSeries[0].data);

		downloadsTimeSeries[0].type='area'

		loadAreaChart('#accumulatedDownloads', 'Accumulated downloads', downloadsTimeSeries)
    }
    function loadDownloadsByVersion() {
        let lines = createLines(downloadData, versionFromLine, monthFromTS)
        let downloadsByVersion={}
        aggregateAll(lines, downloadsByVersion);
        accumulateData(downloadsTimeSeries[0].data);

        let series = [];
        // Format data into highcharts format
        for (let key in downloadsByVersion){
            propertyAggregationToTimeSeries(downloadsByVersion[key],key, "spline", series)
        };

        loadZoomableTimeSeries('#downloadsByVersion', 'Downloads per version over time', series, '%b-%y')
    }


    function versionFromLine(line) {
        return line.version;
    }
    function monthFromTS(line) {
        let justDate= new Date(line.timeStamp);

        justDate = new Date(justDate.getFullYear(),justDate.getMonth() , 2)
        //justDate = justDate.toISOString();
        return justDate
    }

	function prepareData(){

		// Aggregate data
		aggregateAll(downloadData, downloadsAggregation);

	}


	</script>
</div>
{% endblock %}
