{% extends "layouts/100.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/parallax.css' %}" typeof="text/css"/>
    {{ block.super }}
{% endblock %}
{% block content %}
{#    Taken from: https://www.script-tutorials.com/bootstrap-one-page-template-with-parallax-effect/#}
<!-- first section - Home -->
<div id="intro" class="laptop parallax">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-lg-4 offset-lg-1 col-md-12 bg-primary rounded-lg pb-3">
        <h1>Scipion</h1>
        <h3>Cryo EM image proccessing framework. Integration, traceability and analysis.</h3>
        <a href="{% url 'download-page' %}" class="btn btn-primary btn-outline-light">Download</a>
      </div>
    </div>
  </div>
</div>
<!-- /first section -->
<!-- third section - users -->
<div id="users" class="pad-section bg-primary">
  <div class="container">
    <h1 class="text-center">Designed for ...</h1>
      <br/>
    <div class="row text-center">
      <div class="col-sm-4 col-xs-6">
        <i class="glyphicon fas fa-flask"> </i>
        <h3>structural biologists</h3>
        <a href="{% url 'biologists' %}" class="btn btn-outline-light">more ...</a>
      </div>
      <div class="col-sm-4 col-xs-6">
        <i class="glyphicon fas fa-microscope"> </i>
        <h3>cryo-em facilities</h3>
        <a href="{% url 'facilities' %}" class="btn btn-outline-light">more ...</a>
      </div>
      <div class="col-sm-4 col-xs-6">
        <i class="glyphicon fas fa-laptop-code"> </i>
        <h3>SB developers</h3>
        <a href="{% url 'developers' %}" class="btn btn-outline-light">more ...</a>
      </div>
    </div>
  </div>
</div>
<!-- /third section -->
<!-- fourth section - Information -->
<div id="whoweare" class="parallax collaboration pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <h1 class="text-center">Developed by ...</h1>
          <div class="lead text-justify">
            ... many developers across the globe. Scipion started in Madrid, but nowadays its development is distributed among different
            academic institutions. Although the "core" of Scipion is developed in a few places, Scipion
              has become a "framework" ready to accept "new packages" (plugins) on the fly, therefore,
              there are already many people involved and we hope more people will join this project.
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/cnb.jpg' %}" alt="CNB building">
          <div class="card-body">
            <h5 class="card-title">CNB - Instruct Image Processing Center</h5>
            <p class="card-text">Located in Madrid were Scipion started. It is the home of Xmipp, a classic in cryo em image processing software
            and one of the main locations were Scipion is produced.</p>
            <a href="http://i2pc.es" class="card-text"><small class="text-muted">http://i2pc.es</small></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/scilifelab.jpg' %}" alt="SciLifeLab image">
          <div class="card-body">
            <h5 class="card-title">SciLifeLab</h5>
            <p class="card-text">Located in Stockholm, lots of Scipion core contributions, facilities betatesting and plugin developments are coming from there.</p>
            <a href="https://www.scilifelab.se/" class="card-text"><small class="text-muted">https://www.scilifelab.se/</small></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/mrc.jpg' %}" alt="MRC building">
          <div class="card-body">
            <h5 class="card-title">MRC-LMB (unofficial)</h5>
            <p class="card-text">This is not an official institutional collaboration, but contributions from Gregory Sharov and Joaquin Otón have to be mentioned here.</p>
            <a href="https://www2.mrc-lmb.cam.ac.uk/" class="card-text"><small class="text-muted">https://www2.mrc-lmb.cam.ac.uk/</small></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/mcgill.jpg' %}" alt="McGill university building">
          <div class="card-body">
            <h5 class="card-title">McGill - FEMR</h5>
            <p class="card-text">A few people here, at Montreal, developed Scipion core and are still collaborating</p>
            <a href="https://www.mcgill.ca/femr/" class="card-text"><small class="text-muted">https://www.mcgill.ca/femr/</small></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/uam.jpeg' %}" alt="UAM faculty building">
          <div class="card-body">
            <h5 class="card-title">UAM</h5>
            <p class="card-text">Personnel from the Computer Science faculty have and are still contributing to this project.</p>
            <a href="http://www.uam.es/EPS/Home.htm" class="card-text"><small class="text-muted">http://www.uam.es/EPS/Home.htm</small></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/integration.jpg' %}" alt="image representing all collaboration">
          <div class="card-body">
            <h5 class="card-title">Many more</h5>
            <p class="card-text">Many more people have contributed and are still collaborating in this project. Either integrating their own software in Scipion, or helping to betatest.</p>
            <a href="{% url 'acknowledgements' %}" class="card-text"><small class="text-muted">{% url 'acknowledgements' %}</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-sm-12">
      <a class="twitter-timeline" data-width="100%" data-height="560" data-link-color="#B22222" href="https://twitter.com/scipion_em">Tweets by scipion_em</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> <!-- / (Twitter) -->
  </div>
</div>


{% endblock %}

