/* CSS Document */

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
} /* Reset default margin and padding for all element */

header .logo{
	max-height:40px;
	margin: 2px 10px 0px 20px;
}


/**************** Table CSS *******************/
table#data a:link {
	font-size: 0.85em;
}

table#data a:active,table a:hover {
	color: Firebrick;
}

table#data {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	/* background-color: #eaebec; */
	border-spacing: 0;
	overflow-x: auto;
	clear:both;
}

table#data th {
	font-size: 1em;
	background-color: #eaebec;
	padding: 3px 0px
}

table#data th:first-child {

	text-align: left;
	padding-left: 20px;
}

table#data tr {
	text-align: center;
}

table#data tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#data tr td {
	padding: 0.3em 0.3em 0.3em 1.5em;
}

table#data tr:last-child td {
	border-bottom: 0;
}

table#data tr:hover td {
	background-color: #f2f2f2;
}
table#data tr.selected td{
	background-color: #F3CBCB;
	font-weight: bold;
}

table#data tr.selected:hover td {
	/* background-color: LightSteelBlue; */
}
table#data tr:nth-child(odd) {
	background-color: #EAEBFF;
}
table#data tr:nth-child(even) {
	background-color: #FFF;
}


.prot-type-icon{
	width:50px;
	height:50px;
}
.package-icon{
	width:100px;
	height:100px;
}

.collaborator-img{
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

/* To make charts responsive: from  https://codepen.io/flopreynat/pen/BfLkA*/
.chart {
  width: 100%;
  min-height: 450px;
}

/* Bootstrap customization */
nav .navbar-nav li a{
  text-shadow:none !important;
}

a:hover {
	color: #ed5c5c;
}
a{
	color: Firebrick;
	text-decoration: underline;
}
a.bg-primary:hover {
	background-color: #95999c !important;
}

/* External links*/
a:not([href^='#']):not([href^='/']):after {
    font-family: 'FontAwesome';
	font-size: smaller;
    content: " \f08e";
}