	{% load static %}

     <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">
          <img src="{% static '/favicon-32x32.png'%}" width="24" height="24" alt="">
          Scipion</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse active" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              For ...
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'biologists' %}">Structural biologists</a>
              <a class="dropdown-item" href="{%  url 'facilities' %}">Cryo em facilities</a>
              <a class="dropdown-item" href="{% url 'developers' %}">Software developers</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'download-page' %}">Install</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://scipion-em.github.io/docs/">Documentation</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarStatsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Statistics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarStatsDropdown">
              <a class="dropdown-item" href="{% url 'download-stats' %}">Downloads</a>
              <a class="dropdown-item" href="{%  url 'protocolRanking' %}">Protocols ranking</a>
              <a class="dropdown-item" href="{% url 'projectStats' %}">Projects</a>
              <a class="dropdown-item" href="{% url 'installationStats' %}">Installations</a>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarMethodDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Methods
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarMethodsDropdown">
              <a class="dropdown-item" href="{% url 'packages' %}">by plugin</a>
              <a class="dropdown-item" href="{% url 'protocolTypes' %}">by category</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Scipion ecosystem
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://workflows.scipion.i2pc.es" title="Download shared Scipion workflows">Workflow repository</a>
              <a class="dropdown-item" href="https://github.com/I2PC/EMadmin" title="Administrative tool to handle users and Scipion projects in facilities.">EM Admin</a>
              <a class="dropdown-item" href="https://github.com/scipion-em/scipion-docker">Our github docker repo</a>
              <a class="dropdown-item" href="https://hub.docker.com/r/molecularmicroscopy/scipion">NIEHS/NIH docker image</a>
              <a class="dropdown-item" href="https://hub.docker.com/r/epflbiophys/scipion">epflbiophys docker image</a>
              <a class="dropdown-item" href="https://scipion-em.github.io/docs/docs/developer/scipionCloud-on-amazon-web-services-ec2">Scipion at Amazon cloud</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>