{% extends "base.html" %}


    {% block jumbotron %}
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to the Scipion usage site</h1>
        <p>Here you can find all we know about Scipion usage.</p>
{#        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>#}
      </div>
    </div>
    {%  endblock %}

    {% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Protocol's usage ranking</h2>
          <p>We have over 150 protocols and some of them are very hard to maintain. Be sure if
              a protocol is high up in the list we will keep it and will be more careful with it. Those with low usage
              are prompted to be removed in future releases in case they become "naughty".</p>
          <p><a class="btn btn-default" href="report_protocols/protocolTable/" role="button">View ranking &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Scipion usage map</h2>
          <p>We have users all over the world. See how are they distributed around the world, in a
              nice live world map. Stats are shown by country.</p>
          <p><a class="btn btn-default" href="report_protocols/scipionUsage/" role="button">View map &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Help us, help you!</h2>
          <p>See how we are collecting this information and how can you help us to contribute and at the same time
          tell us which protocols are more important for you in order to keep them in the next releases.</p>
          <p><a class="btn btn-default" href="http://github.com/I2PC/webservices" role="button">View details &raquo;</a></p>
        </div>

      </div>
    {% endblock %}
