{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h2>Packages integrated in Scipion</h2>

    {% for package in packages %}
    <br/><br/>
    <div itemscope itemtype="http://schema.org/SoftwareApplication">
        <div class="row">
            <div class="col text-center align-middle">
            {% if package.logo %}
                <img class="package-icon img-thumbnail" src="/uploads/{{ package.logo.name }} " alt="icon for {{ package.name }}">
            {% endif %}
            <h1 id="{{package.name}}"><span itemprop="name">{{ package.name }}</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center align-middle">
                {% if not package.description == "" %}
                  <p><span itemprop="description">{{ package.description }}</span></p>
                {% endif %}
                {% if not package.url == "" %}
                    <p>Web site at <a href="{{package.url}}" itemprop="downloadUrl">{{package.url}}.</a></p>
                {% endif %}
                Available in <span itemprop="operatingSystem">Linux</span>. <span itemprop="applicationCategory">Scientific software, Image processing, Cryo-em</span>
            </div>
        </div>

        <br/><br/>
        <h2>Available methods:</h2>
        <br/>
        {%  for prot in package.protocol_set.all %}
            {% if prot.description %}
            <div class="row">
                <div class="col-md-12" itemprop="featureList">
                    <h4 id="{{ prot.name }}">
                        {{ prot.friendlyName | default:prot.name }}
                    {% if not prot.protocolType == None %}
                        <span itemprop="applicationCategory"> ({{ prot.protocolType.name}})</span>
                    {% endif %}
                    </h4>
                    <p>{{ prot.description }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <br/><br/>
        <h2>Contributors:</h2>
        <div class="row">
        {%  for contibution in package.contribution_set.all %}
            <div class="col-md-2">
            <img class="img-responsive center-block collaborator-img"
                 src="{{ contibution.contributor.image | default:"https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/201705_Scientist_bench_F.svg/200px-201705_Scientist_bench_F.svg.png"}}">
            {% if contibution.contributor.url %}
            <h6 itemprop="contributor"><a href="{{contibution.contributor.url}}">{{contibution.contributor.title}}</a></h6>
            {% else %}
            <h6 itemprop="contributor">{{contibution.contributor.title}}</h6>
            {% endif %}
            </div>
        {% empty %}
            Missing information!, but be sure someone has done it.
        {% endfor %}
        </div>
    </div>

    {% endfor %}
{% endblock %}
