{% extends "layouts/contained.html" %}
{% load staticfiles %}
{% block title %}Scipion package list{% endblock %}
{% block content %}

    <h2 class="mt-4">Packages integrated in Scipion</h2>
    <p class="alert-warning">This is a dynamic list of methods grouped by package that are present
    in Scipion. Some of them might come from a development environment
    and soon will be released.</p>
    {% for package in packages %}
    {%  ifnotequal package.protocol_set.count 0 %}
        <a class="lead badge badge-primary" href="#{{ package.name }}">{{ package.name }}</a>
    {% endifnotequal %}
    {%  endfor %}

    {% for package in packages %}
    {%  ifnotequal package.protocol_set.count 0 %}
    <span id="{{package.name}}"><br/></span>
    <div class="card mt-2 mb-2" vocab="https://schema.org/" typeof="SoftwareApplication">
        <h3 class="pt-5 card-header text-white bg-dark">
            {% if package.logo %}
                <img class="package-icon img-thumbnail" src="{{ package.logo.url }} " alt="icon for {{ package.name }}">
            {% endif %}
            <span property="name">{{ package.name }}</span>
            <a href="#{{ package.name }}"><i class="glyphicon fas fa-link"></i></a>
        </h3>
        <div class="card-body">
            <div class="card-title">
            {% if not package.description == "" %}
                <p class="primary" property="description">{{ package.description }}</p>
            {% endif %}
            {% if not package.url == "" %}
                <p>Plugin url <a href="{{package.url}}" property="downloadUrl">{{package.url}}.</a></p>
            {% endif %}
                <span class="text-hide">Available in <span property="operatingSystem">Linux</span>.
                <span property="applicationCategory">Scientific software, Image processing, cryo em</span></span>
            </div>
            <br/>
            <div class="card-text">
                <h4 class="primary">Available methods:</h4>
                <dl class="pt-4 row">
                {%  for prot in package.protocol_set.all|dictsort:"friendlyName" %}
                    <dt class="col-sm-4" property="featureList">
                        <h5 id="{{ prot.name }}">
                            {{ prot.friendlyName | default:prot.name }}
                        {% if not prot.protocolType == None %}
                            <a href="{%  url 'protocolTypes' %}#{{ prot.protocolType.name}}">
                                <small class="text-muted" property="applicationCategory"> ({{ prot.protocolType.name}})</small>
                            </a>
                        {% endif %}
                        </h5>
                    </dt>
                    <dd class="col-sm-8">{{ prot.description | default:"Description missing, might be a new development." }}</dd>
                {% endfor %}
            </dl>
            <br/>
            <h4 class="primary">Contributors:</h4>
            <div class="row">
            {%  for contibution in package.contribution_set.all %}
                <div class="col-4 col-sm-3 col-md-2">
                    <img class="img-responsive center-block collaborator-img"
                         src="{{ contibution.contributor.image | default:"https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/201705_Scientist_bench_F.svg/200px-201705_Scientist_bench_F.svg.png"}}">
                    {% if contibution.contributor.url %}
                    <h6 property="contributor"><a href="{{contibution.contributor.url}}">{{contibution.contributor.title}}</a></h6>
                    {% else %}
                    <h6 property="contributor">{{contibution.contributor.title}}</h6>
                    {% endif %}
                </div>
            {% empty %}
                Missing information!, but be sure someone has done it.
            {% endfor %}
            </div>
            </div>
        </div>
    </div>
    {% endifnotequal %}
    {% endfor %}
{% endblock %}
