{% extends "layouts/contained.html" %}
{% load static %}
{% block title %}Scipion protocols ranking{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src='{% static "js/highcharts.theme.colorblind.js" %}'></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src='{% static "js/highcharts.utils.js" %}'></script>
{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        $('#protRank').DataTable(protDataTable);
        loadCharts();
    } );
    var protAggregation = {};
    var protRankData =[
        {% for protocol in protocols %}
            {% if forloop.counter > 1 %}
                ,
            {% endif %}
            {
                'rank': {{ forloop.counter }},
                'name': '{{ protocol.friendlyName | default:protocol.name }}',
                'class': '{{ protocol.name }}',
                'timesUsed': {{ protocol.timesUsed }},
                'package': '{%  if protocol.package is not None %}{{ protocol.package.name }}{% endif %}',
                'type': '{%  if protocol.protocolType is not None %}{{ protocol.protocolType.name}}{% endif %}'
            }
        {% endfor %}
    ];

    var columns = [
            { "title": "Rank", "data" : "rank" },
            { "title": "Package",
              "data": "package",
              "render": function(data, type, row, meta){
                    if(type === 'display'){
                        data = '<a href="{% url 'packages' %}/#' + data + '">' + data + '</a>';
                    }
                    return data;
               }
            },
            { "title": "Name",
              "data" : "name",
              "render": function(data, type, row, meta){
                            if(type === 'display'){
                                data = '<a href="{% url 'packages' %}/#' + row.class + '">' + data + '</a>';
                            }
                            return data;
                        }
            },
            { "title": "Times used", "data" : "timesUsed" },
            { "title": "Category",
              "data" : "type",
              "render": function(data, type, row, meta){
                            if(type === 'display'){
                                data = '<a href="{% url 'protocolTypes' %}/#' + data + '">' + data + '</a>';
                            }
                            return data;
                        } }
        ];

    var protDataTable = {
        "data": protRankData,
        "columns": columns
        };


	function loadCharts() {

		prepareData();

		loadPackageChart();
		loadPackageByType();
	}

	function loadPackageChart(){
		var data = propertyAggregationToPieChartData(protAggregation['package'], 'timesUsed');

		loadPieChart('#piebypackage', 'Usage by EM package', data);
	};

	function loadPackageByType(){
        loadStackedColumnChart('#packagebytype', "Package by type",
                protRankData, "type", "package", "timesUsed", "Times used");
	};

	function prepareData(){

		// Aggregate data
		aggregateAll(protRankData, protAggregation, "timesUsed");

	}

</script>
<div>
    <h2 class="mt-4">Protocol usage ranking</h2>
    <p>Here you can see a ranking from the most to the least used Scipion protocols.</p>
    <div class="alert alert-success" role="alert">A big, big "thank you" to all of those that have allowed scipion to send usage statistics.
    You should see your protocols in the list!.</div>
    <div class="row">
        <div class="col-md-12">
            <table id="protRank" class="table table-striped"></table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="piebypackage"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12" id="packagebytype"></div>
    </div>
</div>
{% endblock %}
