{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h2>Protocol types and its protocols catalogue</h2>
    <p>This is a dynamic list of protocol types that are present
    in Scipion. Some of them might come from a development environment
    and soon will be released.</p>
    <hr>

    {% for type in types %}
    <br/><br/>
       <div itemscope itemtype="http://schema.org/SoftwareApplication">
        <div class="row">
            <div class="col text-center align-middle">
            {% if type.icon %}
                <img class="prot-type-icon img-thumbnail" src="/uploads/{{ type.icon.name }} " alt="icon for {{ type.name }}">
            {% endif %}
            <h1><span itemprop="name">{{ type.name }}</span></h1>
            </div>
        </div>
       {% if not type.description %}
        <div class="row">
            <div class="col text-center align-middle">
                {{ type.description }}
            </div>
        </div>
        {% endif %}
        <br/><br/>
        <h2>Available protocols:</h2>
        {%  for prot in type.protocol_set.all %}
            {% if prot.description %}
            <div class="row">
                <div class="col-md-12" itemprop="featureList">
                    <h4>{%  if prot.friendlyName == None %}
                        {{ prot.name }}
                    {%  else %}
                        {{ prot.friendlyName }}
                    {% endif %}
                    {% if prot.package %}
                        <span itemprop="applicationCategory">({{ prot.package.name}})</span>
                    {% endif %}
                    </h4>
                    <p>{{ prot.description }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
