{% extends "layouts/contained.html" %}
{% load staticfiles %}
{% block title %}Scipion categories{% endblock %}
{% block content %}

    <h2 class="mt-4">Categories</h2>
    <p class="alert-warning">This is a dynamic list of methods grouped by categories that are present
    in Scipion. Some of them might come from a development environment
    and soon will be released.</p>

    {% for type in types %}
    <a class="lead badge badge-primary" href="#{{ type.name }}">{{ type.name }}</a>
    {%  endfor %}

    {% for type in types %}
    <span id="{{type.name}}"><br/></span>
    <div class="card mt-2 mb-2" vocab="https://schema.org/" typeof="SoftwareApplication">
        <h3 class="pt-5 card-header text-white bg-dark">
            {% if type.icon %}
                <img class="prot-type-icon img-thumbnail" src="{{ type.icon.url }} " alt="icon for {{ type.name }}">
            {% endif %}
            <span property="name">{{ type.name }}</span>
            <a href="#{{ type.name }}"><i class="glyphicon fas fa-link"></i></a>
        </h3>
        <div class="card-body">
            {% if not type.description %}
            <div class="card-title">
                {{ type.description }}
            </div>
            {% endif %}
            <div class="card-text">
                <h4 class="primary">Available methods:</h4>
                <dl class="row">
                {%  for prot in type.sorted_protocol_set.all %}
                    {% if prot.description %}
                    <dt class="col-sm-4">
                        <h5 id="{{ prot.name }}">
                            {{ prot.friendlyName | default:prot.name }}
                            {% if prot.package %}
                            <a href="{% url 'packages' %}#{{ prot.package }}">
                                <small class="text-muted"> ({{ prot.package.name}})</small>
                            </a>
                            {% endif %}
                        </h5>
                    </dt>
                    <dd class="col-sm-8">{{ prot.description }}</dd>
                    {% endif %}
                {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
