{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

      google.charts.load('current', {'packages':['geochart'], mapsApiKey:"AIzaSyC3mj6BP5J1RspM4GTcVj0RVOnhLJdLzrs"});
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
          getScipionUsageRAW();

      }

      function getScipionUsage(rawData){

          //rawData =  [{"client_country": "Netherlands", "total": 2}, {"client_country": "United Kingdom", "total": 9}, {"client_country": "Germany", "total": 5}, {"client_country": "United States", "total": 1}, {"client_country": "Sweden", "total": 9}, {"client_country": "Spain", "total": 549}, {"client_country": "Czechia", "total": 8}];


        // Adapt to google chart data
        var chartData = [['Country', 'Workflows']];
        for (var i = 0; i < rawData.length; i++){
          var countryStat = rawData[i];
          var country = countryStat.client_country;
          var workflows = countryStat.total;
          var chartLine = [];
          chartLine.push(country);
          chartLine.push(workflows);
          chartData.push(chartLine);

      	}

        return chartData;
      };

      function getScipionUsageRAW(){
      // Form: http://calm-shelf-73264.herokuapp.com/report_protocols/api/workflow/workflow/scipionByCountry/?

        var scipionUsageDataURL = "/report_protocols/api/workflow/workflow/scipionByCountry/?";
        $.getJSON( scipionUsageDataURL)
        .done(function( data ) {
            var scipionUsage = getScipionUsage(data);

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            var chartData = google.visualization.arrayToDataTable(scipionUsage);

            var options = {
                colorAxis: {colors: ['#D8BFD8', '#b22222']}
            };

            chart.draw(chartData, options);
      	})
        .fail(function( jqxhr, textStatus, error ) {
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
        })
        .always(function() {
            console.log( "complete" );
        });
      };


</script>
    <div id="scipionUsage">
      <h2>Scipion usage map</h2>
      <a href="https://github.com/I2PC/scipion/wiki/Collecting-Usage-Statistics-for-Scipion">How data is collected</a>
      <span class="label label-warning" style="display: inline-block">BETA, available from Scipion v1.1</span>
      <p>Map showing where Scipion it's being used. Number refer to the number of Scipion projects created.</p>
      <div class="alert alert-success" role="alert">A big, big "thank you" to all of those that have allowed scipion to send usage statistics.
      You should see you country in the map!.</div>
     <div class="row">
         <div id="regions_div" style="width: 900px; height: 500px;"></div>
     </div>
   </div>
{% endblock %}
