{% extends "layouts/contained.html" %}
{% load staticfiles %}
{% block title %}Scipion usage{% endblock %}
{% block js %}
    {{ block.super }}
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src='{% static "js/highcharts.theme.colorblind.js" %}'></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/broken-axis.js"></script>
	<script src='{% static "js/highcharts.utils.js" %}'></script>
    <script src='{% static "js/usage.js" %}'></script>
{% endblock js %}
{% block content %}
    <h1>Project based charts</h1>
    <p>We are excluding EMPTY projects and those updated only one (skipping tests projects). From Scipion 3,
    all projects starting with "Tests" are not reported.</p>
    <div>
    <br>
        <div class="row">
            <div class="chart" id="projByCountry"></div>
        </div>
    </div>
    <div>
    <br>
        <div class="row">
            <div class="chart" id="projByProtCount"></div>
        </div>
    </div>
    <div>
    <br>
        <div class="row">
            <div class="chart" id="projOvertime"></div>
        </div>
    </div>
    <div>
    <br>
        <div class="row">
            <div class="chart" id="projLength"></div>
        </div>
    </div>

{#    <h1>Installation based charts</h1>#}
{#    <p>Find bellow some charts about our users</p>#}
    <div>
    <br>
        <div class="row">
            <div class="chart" id="usersByCountry"></div>
        </div>
    </div>
    <div>
    <br>
        <div class="row">
            <div class="chart" id="usersOvertime"></div>
        </div>
    </div>

{% endblock %}
